<!--字段选项管理(radio、checkbox、select)-->

<table class="table table-hover data-table">
    <thead>
        <tr>
            <th style="width: 40px;">
                <input type="checkbox" autocomplete="off" data-role="batch-select" ng-checked="$isCheckAll()" ng-click="$selectAllToggle()">
            </th>
            <th style="width: 60px;">序号</th>
            <th class="text-center">选项显示值</th>
            <th class="text-center">选项存储值</th>
            <th class="text-center" style="width: 80px;">是否默认</th>
            <th style="width: 100px;">操作</th>
        </tr>
    </thead>
</table>
<div style="height: 450px; overflow-y: auto;">
    <table class="table table-hover data-table">
        <tbody>
            <tr ng-repeat="opt in optList">
                <td style="width: 40px;"></td>
                <td style="width: 60px;">{{ $index+1 }}</td>
                <td><input type="text" class="form-control" ng-model="opt.name"></td>
                <td><input type="text" class="form-control" ng-model="opt.value"></td>
                <td class="text-center" style="width: 80px;">
                    <label class="checkbox-inline mts">
                        <input type="checkbox" name="optDefault" ng-model="opt.default" ng-checked="opt.default" wpg-icheck>
                    </label>
                </td>
                <td style="width: 100px;">
                    <a href="javascript:;" class="btn btn-default btn-sm" ng-click="js_option_delete(opt)">
                        <span class="text-danger"><i class="fa fa-trash-o"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal-footer">
    <div class="pull-left">
        <button class="btn btn-default mrm" type="button" text="添加" ng-click="js_option_add()">添加</button>
        <button class="btn btn-default" type="button" text="删除" ng-click="js_option_delete()">
            <span class="text-danger">删除</span>
        </button>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" type="button" text="确定" ng-click="js_option_save()">确定</button>
    </div>
</div>
