<div id="field-form" style="padding: 0 30px;">
    <div class="row form-group">
        <div class="control-label">
            <label>字段名称</label>
        </div>
        <div class="controls">
            <input type="text" class="form-control" name="name" ng-model="fieldData.name" wpg-validator="required|chineseSpecname|minlength(2)|maxlength(20)" wpg-trim placeholder="显示的字段名称">
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label">
            <label>数据库字段名</label>
        </div>
        <div class="controls">
            <input type="text" class="form-control" name="field" ng-model="fieldData.field" wpg-validator="required|specname|minlength(2)|maxlength(30)" wpg-trim placeholder="数据库中的字段名">

            <div class="mtm">
                <label class="checkbox-inline" style="width: 100px">
                    <input type="checkbox" ng-model="fieldData.required" ng-true-value="1" ng-false-value="0" ng-checked="fieldData.required==1" wpg-icheck> 必填
                </label>
                <label class="checkbox-inline mll">
                    <input type="checkbox" ng-model="fieldData.is_keyfield" ng-true-value="1" ng-false-value="0" ng-checked="fieldData.is_keyfield==1" wpg-icheck> 关键字段
                </label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label">
            <label>字段提示</label>
        </div>
        <div class="controls">
            <textarea class="form-control" name="tip" ng-model="fieldData.tip" required=""></textarea>
            <p class="help-block">字段后面的提示信息</p>
        </div>
    </div>
    <div class="row form-group" ng-if="showErrormsgCtrl">
        <div class="control-label">
            <label>验证失败提示</label>
        </div>
        <div class="controls">
            <input type="text" class="form-control" name="errormsg" ng-model="fieldData.errormsg" required="">
            <p class="help-block">验证失败后的提示信息，设置验证规则后请填写</p>
        </div>
    </div>

    <div class="mbm" ng-include="templateUrl.fieldconfig"></div>

    <div class="row form-group">
        <div class="control-label">
            <label>列表显示</label>
        </div>
        <div class="controls">
            <label class="radio-inline mrl">
                <input type="radio" value="1" ng-model="fieldData.show" ng-checked="fieldData.show" ng-true-value="1" ng-false-value="0" wpg-icheck> 显示
            </label>
            <label class="radio-inline mrl">
                <input type="radio" value="0" ng-model="fieldData.show" ng-checked="fieldData.show" ng-true-value="1" ng-false-value="0" wpg-icheck> 隐藏
            </label>
            <p class="help-block">后台列表是否显示本字段</p>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label">
            <label>后台搜索</label>
        </div>
        <div class="controls">
            <label class="radio-inline mrl">
                <input type="radio" name="search" value="1" ng-model="fieldData.search" wpg-icheck> 支持
            </label>
            <label class="radio-inline mrl">
                <input type="radio" name="search" value="0" ng-model="fieldData.search" wpg-icheck> 不支持
            </label>
            <p class="help-block">设置当前字段是否支持后台搜索</p>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label">
            <label>后台排序</label>
        </div>
        <div class="controls">
            <label class="radio-inline mrl">
                <input type="radio" name="sortable" value="1" ng-model="fieldData.sortable" wpg-icheck> 支持
            </label>
            <label class="radio-inline mrl">
                <input type="radio" name="sortable" value="0" ng-model="fieldData.sortable" wpg-icheck> 不支持
            </label>
            <p class="help-block">设置当前字段是否支持后台排序</p>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label">
            <label>前台提交</label>
        </div>
        <div class="controls">
            <label class="radio-inline mrl">
                <input type="radio" name="post" value="1" ng-model="fieldData.post" ng-checked="fieldData.post" ng-true-value="1" ng-false-value="0" wpg-icheck> 支持
            </label>
            <label class="radio-inline mrl">
                <input type="radio" name="post" value="0" ng-model="fieldData.post" ng-checked="fieldData.post" ng-true-value="1" ng-false-value="0" wpg-icheck> 不支持
            </label>
            <p class="help-block">设置当前字段是否支持前台提交</p>
        </div>
    </div>
</div>