<style>
#apps-table-list .app-name {
    font-size: 16px;
}

#apps-table-list .app-descr {
    color: #666;
}
</style>
<div class="contentpanel-layout">
    <div class="contentview-layout">
        <div class="contentview-main sidebar_in">
            <div class="contentview-header">
                <div class="title pull-left">
                    <h3 style="margin-top: 0px;"><i class="fa fa-th-large"></i> 应用和服务</h3>
                </div>
            </div>
            <div class="contentview-body">
                <div class="table-responsive">
                    <table id="apps-table-list" class="table table-striped table-hover apps-table">
                        <thead>
                            <tr>
                                <th>应用或服务描述</th>
                                <th style="width: 200px;">价格</th>
                                <th style="width: 200px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <span class="app-name">邮件服务</span> -
                                        <span class="text-info">1.5.0</span>
                                    </div>
                                    <div class="mts app-descr">EduM中的邮件服务功能。</div>
                                    <div class="text-muted"><small>最后更新： 2014-10-12</small></div>
                                </td>
                                <td><span class="label label-success">免费</span></td>
                                <td>
                                    <a href="javascript:;" class="btn btn-warning" data-toggle="modal" data-target="#modal" data-url="{% url 'app_email_setting' %}">设置</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="app-name">短信服务</span> -
                                        <span class="text-info">1.5.0</span>
                                    </div>
                                    <div class="mts app-descr">EduM中的短信服务功能。</div>
                                    <div class="text-muted"><small>最后更新： 2014-10-12</small></div>
                                </td>
                                <td><span class="label label-info">0.1元/条</span></td>
                                <td><a href="#" class="btn btn-warning" disabled>充值</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="app-name">家校通web版</span> -
                                        <span class="text-info">1.1.0</span>
                                    </div>
                                    <div class="mts app-descr">学员或家长可通过web访问到与自己有关的信息。</div>
                                    <div class="text-muted"><small>最后更新： 2014-10-19</small></div>
                                </td>
                                <td><span class="label label-success">免费</span></td>
                                <td>
                                    <a href="javascript:;" data-url="{% url 'app_close' 'web' %}" data-role="app-close" class="btn btn-warning" {% if not app_status.web %} style="display: none;" {% endif %}>关闭</a>
                                    <a href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{% url 'app_web_setting' %}" data-role="app-manage" class="btn btn-warning" {% if not app_status.web %} style="display: none;" {% endif %}>设置</a>
                                    <a href="javascript:;" data-url="{% url 'app_open' 'web' %}" data-role="app-open" class="btn btn-warning" {% if app_status.web %} style="display: none;" {% endif %}>开启</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="app-name">家校通web增强版</span> -
                                        <span class="text-info">1.0.0</span>
                                        <span class="label label-warning mlm">限本地部署客户</span>
                                    </div>
                                    <div class="mts app-descr">增强扩展家校通。通过web常用的文章、图片、视频、讨论等插件组建学校网站，学员可通过会员系统与EduM互访。</div>
                                    <div class="text-muted"><small>近期上线</small></div>
                                </td>
                                <td><span class="label label-warning">未定</span></td>
                                <td><a href="#" class="btn btn-warning" disabled>近期上线</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="app-name">在线考试系统</span> -
                                        <span class="text-info">1.0.0</span>
                                    </div>
                                    <div class="mts app-descr">老师可设置题库，布置线上考试或线上作业等。</div>
                                    <div class="text-muted"><small>最后更新： 2014-10-19</small></div>
                                </td>
                                <td><span class="label label-success">免费</span></td>
                                <td>
                                    <a href="javascript:;" data-url="{% url 'app_close' 'test' %}" data-role="app-close" class="btn btn-warning" {% if not app_status.test %} style="display: none;" {% endif %}>关闭</a>
                                    <a href="{% url 'test_index' %}" data-role="app-manage" class="btn btn-warning" {% if not app_status.test %} style="display: none;" {% endif %}>管理</a>
                                    <a href="javascript:;" data-url="{% url 'app_open' 'test' %}" data-role="app-open" class="btn btn-warning" {% if app_status.test %} style="display: none;" {% endif %}>开启</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom page-footer" ng-class="{true:'in',false:'out'}[global.article.footer||selectedItems.length!=0]" ng-if="global.article.footer||selectedItems.length!=0">
        <span class="count">已选中 {{ selectedItems.length }} 个分类</span>
        <div class="btn-group mlm">
            <button class="btn btn-success" ng-click="onClickBatchVisibility(true)">打开</button>
            <button class="btn btn-default" ng-click="onClickBatchVisibility(false)">关闭</button>
        </div>
        <button class="btn btn-default mll" data-role="batch-delete" ng-click="onClickBatchRemove($event)"><span class="text-danger"><i class="glyphicon glyphicon-trash"></i> 删除</span></button>
        <button class="btn btn-danger" ng-click="$closeBottomTool()" style="margin-left: 60px">取消</button>
    </div>
</div>
