<div class="panel-group" wpg-panel>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">设置属性和排序号</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="controls">
                    <label class="checkbox-inline mrl">
                        <input type="checkbox" ng-model="field._sticky" ng-checked="field._sticky" ng-true-value="1" ng-false-value="0" wpg-icheck> 置顶
                    </label>
                    <label class="checkbox-inline mrl">
                        <input type="checkbox" ng-model="field._featured" ng-checked="field._featured" ng-true-value="1" ng-false-value="0" wpg-icheck> 头条
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="field._recommended" ng-checked="field._recommended" ng-true-value="1" ng-false-value="0" wpg-icheck> 推荐
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">访问量</div>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="field._view_count" wpg-validator="required|integer" wpg-trim>
                    <p class="help-block">{{ formInfo.name }}点击次数</p>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">排序序号</div>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="field._sequence" wpg-validator="required|integer" wpg-trim>
                    <p class="help-block">开启自定义排序有效</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">设置封面图</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="controls">
                <label class="checkbox-inline fl">
                    <input type="checkbox" ng-model="field._config.isTakeImage" ng-checked="field._config.isTakeImage" 
                    ng-true-value="1" ng-false-value="0" wpg-icheck> 提取{{ appData.name }}正文第
                </label>
                <input class="form-control input-sm mls mrs fl" style="width: 60px;" ng-model="field._config.takeImageNum">张图
            </div>
            <div class="mtl" ng-model="field._image" wpg-imgupload="imageUploadOptions" style="margin-top: 30px;">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">概要和链接地址</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="controls">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="field._config.isTakeSummary" ng-checked="field._config.isTakeSummary" ng-true-value="1" ng-false-value="0" wpg-icheck> 从{{ appData.name }}正文中提取概要
                </label>
                <textarea class="form-control mtm" ng-model="field._summary" rows="4" ng-if="!field._config.isTakeSummary">
                </textarea>
                <textarea class="form-control mtm" ng-model="field._summary" rows="4" readonly ng-if="field._config.isTakeSummary"></textarea>
                <p class="help-block">{{ appData.name }}的简要信息，用于列表页面或内容页的引言</p>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label">
                    链接地址/URL
                </div>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="field._url">
                    <p class="help-block">
                        自定义URL地址，伪静态使用
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">设置推荐位</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="controls">
                <div class="clearfix" ng-model="field._taglist" wpg-select="tagOptions">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">设置TAG标签</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="controls">
                <div class="clearfix" ng-model="field._taglist" wpg-select="tagOptions">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">
            来源/出处
           </h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="control-label">来源名称</div>
                <div class="controls">
                    <input class="form-control"  type="text" name="source_name" ng-model="field._source_name">
                    <p class="help-block">{{ appData.name }}来源的名称</p>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">来源URL地址</div>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="field._source_url" wpg-validator="requiredHttp">
                    <p class="help-block">{{ appData.name }}来源的URL地址，http(s)://开头</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">设置模板指向</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="controls">
                    <select class="form-control" ng-model="field._template">
                        <option>
                        --请选择模板--
                        </option>
                        <option ng-repeat="tpl in tplList" value="{{ tpl.name }}" ng-bind="tpl.name">
                        </option>
                    </select>
                    <p class="help-block">默认为{{ appData.name }}设置的内容模板</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">发布时间和状态</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="control-label">
                    发布时间
                </div>
                <div class="controls">
                    <div class="clearfix" ng-model="field._publish_time" wpg-datetimepicker>
                    </div>
                    <p class="help-block">{{ appData.name }}列表默认按发布时间的倒序显示</p>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">发布状态</div>
                <div class="controls">
                    <label class="radio-inline mrl">
                        <input type="radio" value="published" ng-model="field._status" ng-checked="field._status" wpg-icheck> 发布
                    </label>
                    <label class="radio-inline mrl">
                        <input type="radio" value="unpublished" ng-model="field._status" ng-checked="field._status" wpg-icheck> 不发布
                    </label>
                    <label class="radio-inline" ng-if="field.id">
                        <input type="radio" value="trash" ng-model="field._status" ng-checked="field._status" wpg-icheck> 回收站
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panel-heading-link">
           <h3 class="panel-title">SEO优化设置</h3>
           <div class="panel-tool"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="control-label">网页标题 / Title</div>
                <div class="controls">
                    <input type="text" class="form-control" ng-model="field._seo_title" placeholder="请输入网页标题">
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">网页关键词 / meta keywords</div>
                <div class="controls">
                    <textarea class="form-control" ng-model="field._seo_keywords" placeholder="请输入网页关键词" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">网页描述 / meta description</div>
                <div class="controls">
                    <textarea class="form-control" ng-model="field._seo_description" placeholder="请输入网页描述"  rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>