<style>
    .nav-pills li { width: 164px; float: left; text-align: center;  margin-bottom: 10px; color: #888;}
    .nav-pills li i { font-size: 26px; }
    .nav-pills li a { color: #888; padding: 20px; }
    .nav-pills li.active a { background-color: #49d; color: #fff; }

    .nav-pills li a:hover,
    .nav-pills li a:focus
    .nav-pills li.active a,
    .nav-pills li.active a:hover,
    .nav-pills li.active a:focus { background-color: #49d; color: #fff; }

</style>


<div style="min-height: 450px;">
    <ul class="nav nav-pills nav-stacked fieldset-control-navs" id="project-appnavs">
        <li ng-repeat="type in typeList track by $index" ng-click="$parent.js_app_create(2, type, app)">
            <a href="javascript:;" class="ng-binding">
                <span style="display: block; height: 40px;">
                <i class="fa fa-{{ type.icon }}"></i>
                </span>
                <span style="display: block;">{{ type.name }}</span>
            </a>
        </li>
    </ul>
</div>
