<div class="contentpanel-layout">
    <div class="contentview-layout">
        <div class="contentview-main sidebar_in">
            <div class="contentview-header">
                <div class="title pull-left">
                    <h3 style="margin-top: 0px;"><i class="fa fa-th-list"></i> 分类管理</h3>
                </div>
                <span class="badge mlm pull-left data-count" style="display:none; font-size: 18px;"></span>
                <div class="pull-right form-group">
                    <button class="btn btn-danger pull-left mrl" ng-click="js_category_create()">
                        <i class="glyphicon glyphicon-plus"></i> 新增分类
                    </button>
                </div>
            </div>
            <div class="contentview-body">
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <thead>
                            <tr>
                                <th style="width: 40px;">
                                  <input type="checkbox" autocomplete="off" data-role="batch-select" ng-checked="$isCheckAll()" ng-click="$selectAllToggle()">
                                </th>
                                <th>编号ID</th>
                                <th>分类名称</th>
                                <th>分类编码</th>
                                <th>连接地址 / URL</th>
                                <th class="text-center" style="width: 100px;">使用情况</th>
                                <th class="text-center" style="width: 100px;">排序序号</th>
                                <th style="width: 100px;">状态</th>
                                <th style="width: 120px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in allItems track by item.id" data-role="item" ng-click="onClickItem(item)" class="fade-remove">
                                <td>
                                    <input type="checkbox" ng-checked="item.isSelected">
                                </td>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.code }}</td>
                                <td>{{ item.url }}</td>
                                <td class="text-center">{{ item.count }}</td>
                                <td class="text-center">{{ item.sequence }}</td>
                                <td>
                                    <span class="label label-success" ng-if="item.status">正常</span>
                                    <span class="label label-danger" ng-if="!item.status">禁用</span>
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-default btn-sm" ng-click="js_category_update(item)">编辑</a>
                                    <a href="javascript:;" class="btn btn-default btn-sm" ng-click="fDel(item)">
                                        <span class="text-danger">删除</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div ng-model="paginator" wpg-paginator></div>

                </div>

            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom page-footer" ng-class="{true:'in',false:'out'}[global.article.footer||selectedItems.length!=0]" ng-if="global.article.footer||selectedItems.length!=0">
        <span class="count">已选中 {{ selectedItems.length }} 个分类</span>
        <div class="btn-group mlm">
            <button class="btn btn-success" ng-click="onClickBatchVisibility(true)">打开</button>
            <button class="btn btn-default" ng-click="onClickBatchVisibility(false)">关闭</button>
        </div>
        <button class="btn btn-default mll" data-role="batch-delete" ng-click="onClickBatchRemove($event)"><span class="text-danger"><i class="glyphicon glyphicon-trash"></i> 删除</span></button>
        <button class="btn btn-danger" ng-click="$closeBottomTool()" style="margin-left: 60px">取消</button>
    </div>

</div>

