	<form id="category-form" class="form-horizontal">

		<div class="form-group">
			<label class="col-md-2 control-label" for="category-name-field">栏目名称</label>
			<div class="col-md-8 controls">
				<input class="form-control" id="category-name-field" type="text" name="name" ng-model="category.name" tabindex="1">
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="category-code-field">栏目编码</label>
			<div class="col-md-8 controls">
				<input class="form-control" id="category-code-field" type="text" name="code" ng-model="category.code" tabindex="2">
				<div class="help-block">生成列表、资讯时使用，例如news、bbs等</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="category-parentId-field">父栏目</label>
			<div class="col-md-8 controls">
				<select class="form-control" id="category-parentId-field" type="text" name="parentId" tabindex="2">
					<option value=0>选择栏目</option>
				</select>
			</div>		
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="category-weight-field">显示顺序号</label>
			<div class="col-md-8 controls">
				<input class="form-control" id="category-weight-field" type="text" name="weight" ng-model="category.weight" tabindex="3">
				<div class="help-block">自然数，数字越小位置越前</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="category-published-field">启用</label>
			<div class="controls radios col-md-8">
				<label><input id="category-published-field" type="radio" name="published" tabindex="0" value=1 checked>是</label>
				<label><input id="category-published-field" type="radio" name="published" tabindex="0" value=0 checked>否</label>
			</div>
		</div>
	</form>