<div class="title pull-left">
    <h3 style="margin-top: 0px;">
        <i class="fa fa-{{ $app.icon }}"></i> 
        <span ng-if="!appData.data_id">新增{{ $app.name }}</span>
        <span ng-if="appData.data_id">编辑{{ $app.name }}</span>
    </h3>
</div>
<div class="pull-left form-group mll">
    <button class="btn btn-default pull-left mrm" type="button" ng-click="onClickBaseBack()" text="返回" ng-disabled="isSaving||isPreviewing">返回</button>
    <button class="btn btn-default pull-left mrm" type="button" ng-click="js_appdata_preview()" text="预览" ng-disabled="isPreviewing" ng-if="$app.infopage.status==1">
        <i class="fa fa-eye" ng-hide="isPreviewing"></i>
        <span ng-hide="isPreviewing">预览</span>
        <span ng-show="isPreviewing">生成中</span>
    </button>
    <div class="btn-group pull-left mrm" role="group">
        <button class="btn btn-success" ng-click="onClickBaseSave()" ng-disabled="isSaving">
            <i class="fa fa-check"></i> 
            <span ng-hide="isSaving">确定保存</span>
            <span ng-show="isSaving">保存中 ...</span>
        </button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="plm ptm pbm">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="savedStay" ng-true-value="1" ng-false-value="0" wpg-icheck> 保存后停留当前页
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="pull-right form-group">
    <button class="btn btn-default pull-left mrl" type="button" text="复制{{ $app.name }}" ng-click="onClickBaseDuplicate()" ng-disabled="isSaving||isCopying||isRemoving||!appData.data_id">
        <i class="fa fa-copy" ng-hide="isCopying"></i> 
        <span ng-hide="isCopying">复制</span>
        <span ng-show="isCopying">复制中</span>
    </button>
    <button class="btn btn-danger pull-left mrm" type="button" text="删除" ng-click="onClickBaseDelete()" ng-disabled="isSaving||isCopying||isRemoving||!appData.data.data_id">
        <i class="fa fa-trash" ng-hide="isRemoving"></i> 
        <span ng-hide="isRemoving">删除</span>
        <span ng-show="isRemoving">删除中</span>
    </button>
</div>        