<form id="position-form" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label" for="position-name-field">推荐位名称</label>
        <div class="col-md-8 controls">
            <input class="form-control" id="position-name-field" type="text" name="name" ng-model="position.name" tabindex="1">
            <div class="help-block">必填，推荐位的名称</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="position-sequence-field">推荐位顺序</label>
        <div class="col-md-8 controls">
            <input class="form-control" id="position-sequence-field" type="text" name="code" ng-model="position.sequence" tabindex="2">
            <div class="help-block">必填，推荐位列表调用时的顺序，数字越小越靠前</div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label" for="position-status-field">推荐位状态</label>
        <div class="col-md-8 controls">
            <label class="radio-inline mrl">
                <input type="radio" name="status" value="1" ng-model="position.status" wpg-icheck> 正常
            </label>
            <label class="radio-inline mrl">
                <input type="radio" name="status" value="0" ng-model="position.status" wpg-icheck> 禁用
            </label>
        </div>
    </div>
</form>
