<div class="contentpanel-layout">
    <div class="contentview-layout">
        <div class="contentview-main sidebar_in">
            <div class="contentview-header">
                <div class="title pull-left">
                    <h3 style="margin-top: 0px;"><i class="fa fa-tag"></i> 标签管理</h3>
                </div>
                <span class="badge mlm pull-left data-count" style="display:none; font-size: 18px;"></span>
                <div class="pull-right form-group">
                    <button class="btn btn-danger pull-left mrl" ng-click="js_tag_create()">
                        <i class="glyphicon glyphicon-plus"></i> 新增标签
                    </button>
                </div>
            </div>
            <div class="contentview-body">
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <thead>
                            <tr>
                                <th>编号ID</th>
                                <th>标签名称</th>
                                <th>排序序号</th>
                                <th style="width: 100px;">状态</th>
                                <th style="width: 180px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in allItems" data-role="item" class="fade-remove">
                                <td ng-bind="item.id"></td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.sequence"></td>
                                <td>
                                    <span class="label label-success" ng-if="item.status">正常</span>
                                    <span class="label label-danger" ng-if="!item.status">禁用</span>
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-default btn-sm" ng-click="js_tag_update(item)">编辑</a>
                                    <a href="javascript:;" class="btn btn-default btn-sm" ng-click="fDel(item)">
                                        <span class="text-danger">删除</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div ng-model="paginator" wpg-paginator></div>

                </div>

            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom page-footer" ng-class="{true:'in',false:'out'}[global.article.footer||selectedItems.length!=0]" ng-if="global.article.footer||selectedItems.length!=0">
        <span class="count">已选中 {{ selectedItems.length }} 个标签</span>
        <div class="btn-group mlm">
            <button class="btn btn-success" ng-click="onClickBatchVisibility(true)">发布</button>
            <button class="btn btn-default" ng-click="onClickBatchVisibility(false)">取消发布</button>
        </div>
        <button class="btn btn-default mll" data-role="batch-delete" ng-click="onClickBatchRemove($event)"><span class="text-danger"><i class="glyphicon glyphicon-trash"></i> 永久删除</span></button>
        <button class="btn btn-danger" ng-click="$closeBottomTool()" style="margin-left: 60px">取消</button>
    </div>

</div>
