<form id="tag-form" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label" for="tag-name-field">标签名称</label>
        <div class="col-md-8 controls">
            <input class="form-control" id="tag-name-field" type="text" name="name" ng-model="tag.name" tabindex="1">
            <div class="help-block">必填，标签的名称</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="tag-sequence-field">标签序号</label>
        <div class="col-md-8 controls">
            <input class="form-control" id="tag-sequence-field" type="text" name="code" ng-model="tag.sequence" tabindex="2">
            <div class="help-block">标签列表调用时的顺序，数字越小越靠前</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="tag-status-field">标签状态</label>
        <div class="col-md-8 controls">
            <label class="radio-inline mrl">
                <input type="radio" name="status" value="1" ng-model="tag.status" wpg-icheck> 正常
            </label>
            <label class="radio-inline mrl">
                <input type="radio" name="status" value="0" ng-model="tag.status" wpg-icheck> 禁用
            </label>
        </div>
    </div>
</form>
