<div class="contentpanel-layout" wpg-page="pageConfig.pagecode">
    <div class="contentview-layout footer_in appdata-form-container">
        <div class="contentview-main appdata-form-main">
            <div class="contentview-header">
                <div class="title pull-left">
                    <h3 style="margin-top: 0px;">
                        <i class="fa fa-file-text-o"></i> 
                        <span ng-if="!article.id">新增{{ appData.name }}</span>
                        <span ng-if="article.id">编辑{{ appData.name }}</span>
                    </h3>
                </div>
                <div class="pull-left form-group mll">
                    <button class="btn btn-default pull-left mrm" type="button" ng-click="js_article_return()" text="返回">返回</button>
                    <button class="btn btn-default pull-left mrm" type="button" ng-click="js_article_preview()" text="预览">预览</button>
<!--                     <button class="btn btn-success pull-left mrm" ng-click="js_article_save()" ng-disabled="!article">
                        <i class="fa fa-check"></i> 确定保存
                    </button>
 -->
                    <div class="btn-group pull-left mrm" role="group">
                        <button class="btn btn-success" ng-click="js_article_save()" ng-disabled="!article">
                            <i class="fa fa-check"></i> 确定保存
                        </button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="plm ptm pbm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="savedStay" ng-true-value="1" ng-false-value="0" wpg-icheck> 保存后停留当前页
                                </label>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="pull-right form-group">
                    <button class="btn btn-default pull-left mrm" type="button" text="复制{{ appData.name }}" ng-click="js_article_copy(article)" ng-disabled="article.id == 0">复制{{ appData.name }}</button>
                    <button class="btn btn-danger pull-left mrm" type="button" text="删除" ng-click="js_article_delete(article)" ng-disabled="article.id == 0">删除</button>
                </div>
            </div>
            <div class="contentview-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="control-label">
                            <label for="article-category">{{ appData.name }}栏目</label>
                        </div>
                        <div class="controls">
                            <select class="form-control" ng-model="article.category_id" wpg-validator="required">
                                <option value="">
                                --请选择{{ appData.name }}栏目--
                                </option>
                                <option ng-repeat="category in categoryList" value="{{ category.id }}" ng-bind-html="category.name">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            <label>{{ appData.name }}标题</label>
                        </div>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="article.title" wpg-validator="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            <label>{{ appData.name }}图片</label>
                        </div>
                        <div class="controls clearfix">
                            <div id="uploadImglist" ng-model="article._imglist" wpg-imgupload="imglistUploadOptions" wpg-validator="required|maxlength(2)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            <label>{{ appData.name }}正文</label>
                        </div>
                        <div class="controls">
                            <div class="article-editor" ng-class="{true: ' article-editor-mobile'}[editorType == 'mobile']">
                                <a class="article-editor-btn article-editor-btn-common" href="javascript:void(0);" ng-class="{true: ' article-editor-btn-active'}[editorType == 'pc']" ng-click="switchEditor('pc');">
                                    <span class="fa fa-television" type="editpc"></span>
                                    电脑端
                                </a>
                                <a class="article-editor-btn article-editor-btn-mobile" href="javascript:void(0);" ng-class="{true: ' article-editor-btn-active'}[editorType == 'mobile']" ng-click="switchEditor('mobile');">
                                    <span class="fa fa-mobile fa-lg" type="editmobile"></span>
                                    移动端
                                </a>
                                <div ng-show="editorType == 'pc'">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="article.body" wpg-validator="required"></textarea>
                                </div>

                                <div ng-show="editorType == 'mobile'">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="article.mobile_body" ng-hide="editorType == 'pc'"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentview-sidebar appdata-form-sidebar">
            <div class="contentview-sidebar-header">{{ appData.name }}设置</div>
            <div class="contentview-sidebar-body">
            <div class="panel-group" wpg-panel>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">设置属性和排序号</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <label class="checkbox-inline mrl">
                                    <input type="checkbox" name="sticky" ng-model="article.sticky" ng-checked="article.sticky" ng-true-value="1" ng-false-value="0" wpg-icheck> 置顶
                                </label>
                                <label class="checkbox-inline mrl">
                                    <input type="checkbox" name="featured" ng-model="article.featured" ng-checked="article.featured" ng-true-value="1" ng-false-value="0" wpg-icheck> 头条
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="recommended" ng-model="article.recommended" ng-checked="article.recommended" ng-true-value="1" ng-false-value="0" wpg-icheck> 推荐
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">访问量</div>
                            <div class="controls">
                                <input class="form-control" type="text" name="view_count" ng-model="article.view_count" wpg-validator="required|integer" wpg-trim>
                                <p class="help-block">{{ appData.name }}点击次数</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">排序序号</div>
                            <div class="controls">
                                <input class="form-control" type="text" name="sequence" ng-model="article.sequence" wpg-validator="required|integer" wpg-trim>
                                <p class="help-block">开启自定义排序有效</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">设置封面图</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="controls">
                            <label class="checkbox-inline fl">
                                <input type="checkbox" ng-model="article.config.isTakeImage" ng-checked="article.config.isTakeImage" 
                                ng-true-value="1" ng-false-value="0" wpg-icheck> 提取{{ appData.name }}正文第
                            </label>
                            <input class="form-control input-sm mls mrs fl" style="width: 60px;" ng-model="article.config.takeImageNum">张图
                        </div>
                        <div class="mtl" ng-model="article.image" wpg-imgupload="imageUploadOptions" style="margin-top: 30px;">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">概要和链接地址</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="article.config.isTakeSummary" ng-checked="article.config.isTakeSummary" ng-true-value="1" ng-false-value="0" wpg-icheck> 从{{ appData.name }}正文中提取概要
                                </label>
                                <textarea class="form-control mtm" name="summary" ng-model="article.summary" id="article-summary-field" rows="4" ng-if="!article.config.isTakeSummary">
                                </textarea>
                                <textarea class="form-control mtm" name="summary" ng-model="article.summary" id="article-summary-field" rows="4" readonly ng-if="article.config.isTakeSummary"></textarea>
                                <p class="help-block">{{ appData.name }}的简要信息，用于列表页面或内容页的引言</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="control-label">
                                链接地址/URL
                            </div>
                            <div class="controls">
                                <input class="form-control" type="text" name="url" ng-model="article.url">
                                <p class="help-block">
                                    自定义URL地址，伪静态使用
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">设置推荐位</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="controls">
                            <div class="clearfix" ng-model="article._taglist" wpg-select="tagOptions">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">设置TAG标签</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="controls">
                            <div class="clearfix" ng-model="article._taglist" wpg-select="tagOptions">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">
                        来源/出处
                       </h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="control-label">来源名称</div>
                            <div class="controls">
                                <input class="form-control" id="article-source-field" type="text" name="source_name" ng-model="article.source_name">
                                <p class="help-block">{{ appData.name }}来源的名称</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">来源URL地址</div>
                            <div class="controls">
                                <input class="form-control" id="article-sourceUrl-field" type="text" name="source_url" ng-model="article.source_url" wpg-validator="requiredHttp">
                                <p class="help-block">{{ appData.name }}来源的URL地址，http(s)://开头</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">设置模板指向</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <select class="form-control" name="template" ng-model="article.template">
                                    <option>
                                    --请选择模板--
                                    </option>
                                    <option ng-repeat="tpl in tplList" value="{{ tpl.name }}" ng-bind="tpl.name">
                                    </option>
                                </select>
                                <p class="help-block">默认为{{ appData.name }}设置的内容模板</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">发布时间和状态</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="control-label">
                                发布时间
                            </div>
                            <div class="controls">
                                <div class="clearfix" ng-model="article.publish_time" wpg-datetimepicker>
                                </div>
                                <p class="help-block">{{ appData.name }}列表默认按发布时间的倒序显示</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">发布状态</div>
                            <div class="controls">
                                <label class="radio-inline mrl">
                                    <input type="radio" name="status" value="published" ng-model="article.status" ng-checked="article.status" wpg-icheck> 发布
                                </label>
                                <label class="radio-inline mrl">
                                    <input type="radio" name="status" value="unpublished" ng-model="article.status" ng-checked="article.status" wpg-icheck> 不发布
                                </label>
                                <label class="radio-inline" ng-if="article.id">
                                    <input type="radio" name="status" value="trash" ng-model="article.status" ng-checked="article.status" wpg-icheck> 回收站
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                       <h3 class="panel-title">SEO优化设置</h3>
                       <div class="panel-tool"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="control-label">网页标题 / Title</div>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="article.seo_title" placeholder="请输入网页标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">网页关键词 / meta keywords</div>
                            <div class="controls">
                                <textarea class="form-control" ng-model="article.seo_keywords" placeholder="请输入网页关键词"  rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">网页描述 / meta description</div>
                            <div class="controls">
                                <textarea class="form-control" ng-model="article.seo_description" placeholder="请输入网页描述"  rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
